/* ===========================
   Button CSS 
============================= */
.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  color: none;
  background-color: none;
  border-color: none;
}

.pill {
  border-radius: 40px !important;
}

.btn {
  color: hsl(var(--white)) !important;
  font-weight: 500;
  padding: 16px 30px;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  border: 1px solid transparent;
  font-family: var(--body-font);
  display: inline-block !important;
  @include fs-16;
  line-height: 1;

  @include sm-screen {
    padding: 14px 25px;
    @include fs-14;
  }

  @include msm-screen {
    padding: 12px 20px;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    box-shadow: none !important;
  }

  &:active {
    top: 1px;
  }

  &--lg {
    padding: 20px 35px;

    @include md-screen {
      padding: 18px 30px;
    }

    @include sm-screen {
      padding: 16px 25px;
    }
  }

  &--sm {
    padding: 7px 18px;
    font-weight: 600;
    font-size: rem(12px);

    @include sm-screen {
      padding: 8px 12px;
    }
  }

  &--icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
    @include fs-15;
    padding: 0;
  }

  @include gradient-btn(--base, --base, --base-two, 90deg);
  // @include btn-style(--base);
  @include btn-style(--primary);
  @include btn-style(--secondary);
  @include btn-style(--danger);
  @include btn-style(--warning);
  @include btn-style(--info);
}

.btn-border { 
  --box--border__top-left: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='1' y='1' width='18' height='18' rx='4' ry='4' stroke='%23000' stroke-width='1.5' /></svg>");
  --box--border__top: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='100' height='10' viewBox='0 0 100 10' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='-1' y1='1' x2='101' y2='1' stroke='%23000' stroke-width='1.5'/></svg>");
  --box--border__top-right: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='-9' y='1' width='18' height='18' rx='4' ry='4' stroke='black' stroke-width='1.5' /></svg>");
  --box--border__left: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='10' height='100' viewBox='0 0 10 100' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='1' y1='-1' x2='1' y2='101' stroke='%23000' stroke-width='1.5'/></svg>");
  --box--border__right: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='10' height='100' viewBox='0 0 10 100' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='9' y1='-1' x2='9' y2='101' stroke='%23000' stroke-width='1.5'/></svg>");
  --box--border__bottom-left: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='1' y='-9' width='18' height='18' rx='4' ry='4' stroke='%23000' stroke-width='1.5' /></svg>");
  --box--border__bottom: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='100' height='10' viewBox='0 0 100 10' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='-1' y1='9' x2='101' y2='9' stroke='%23000' stroke-width='1.5'/></svg>");
  --box--border__bottom-right: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='-9' y='-9' width='18' height='18' rx='4' ry='4' stroke='black' stroke-width='1.5' /></svg>");

  position: relative;
  overflow: hidden;
  font-weight: 600;
  border-radius: 5px;  
  display: flex;
  align-items: center;
  gap: 10px;
  color: hsl(var(--white));
  padding: 15px 25px;
  text-transform: capitalize;
  @include fs-16;
  i{
    @include fs-16;
    transition: all .3s;
  }

  &:hover {  
    &::after{
      transform: translateY(0);
      border-radius: 0;
    }
    color: hsl(var(--white));
    i{
      transform: translateX(10px);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--base-gradient2);
    z-index: -1;
    animation: gradient 15s ease infinite;
    mask:
      var(--box--border__top-left) 0 0 / .625rem .625rem,
      var(--box--border__top) .625rem 0 / calc(100% - 1.25rem) .625rem,
      var(--box--border__top-right) 100% 0 / .625rem .625rem,
      var(--box--border__left) 0 .625rem / .625rem calc(100% - 1.25rem),
      var(--box--border__right) 100% .625rem / .625rem calc(100% - 1.25rem),
      var(--box--border__bottom-left) 0 100% / .625rem .625rem,
      var(--box--border__bottom) .625rem 100% / calc(100% - 1.25rem) .625rem,
      var(--box--border__bottom-right) 100% 100% / .625rem .625rem;
    mask-repeat: no-repeat;
  }
  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--base-gradient2);
    transform: translateY(100%);
    transition: all .3s;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  &.btn-fill{ 
    &:hover{
      &::after{
        transform: translateY(-100%);
        border-radius: 50px;
      }
    }
    &::after{
      transform: translateY(0);
      border-radius: 0;
    }
  }
}