//button
.btn-theme-gradient,
.btn-base-border {
    position: relative;
    padding: 15px 30px;
    font-family: var(--title-font);
    @include fs-16;
    color: hsl(var(--white));
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    transition: 0.2s linear;

    &::before,
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: var(--base-gradient);
        z-index: -1;
        border-radius: inherit;
        -webkit-transition: 0.3s linear;
        transition: 0.3s linear;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        clip-path: polygon(10px 0, 95% 0, 100% 10px, 100% 84%, 94% 100%, 10px 100%, 0 84%, 0 10px);
        transition: all .4s;
        transition: 0.2s linear;
    }

    &::after {
        width: calc(100% - 3px);
        height: calc(100% - 3px);
        background: #261B5C;
        backdrop-filter: blur(10px);
        transition: 0.2s linear;
    }

    &:hover {
        color: hsl(var(--white));

        &::before,
        &::after {
            background: var(--base-gradient2);
        }

        &::after {
            background: none;
        }

        i {
            transform: rotate(0deg) translateX(40px);
        }
    }

    i {
        transform: rotate(-50deg);
        transition: all .3s;
        @include fs-18;
    }
}

.btn-theme-gradient {
    &::after {
        background: none;
    }

}


.custom_anime_top {
    animation: anime-top 1.5s forwards cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0;

    @keyframes anime-top {
        0% {
            transform: translateY(-5%);
            clip-path: inset(0 0 100% 0);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            clip-path: inset(0 0 0 0);
            opacity: 1;
        }
    }
}


.wave_animation {
    height: 70px;
    width: 70px;
    fill: hsl(var(--base));

    @for $i from 1 through 15 {
        .line_#{$i} {
            animation: pulse_wave 1s infinite;
            animation-delay: $i * .15s;
        }
    }

    @keyframes pulse_wave {
        0% {
            transform: scaleY(1);
            transform-origin: 50% 50%;
        }

        50% {
            transform: scaleY(.7);
            transform-origin: 50% 50%;
        }

        100% {
            transform: scaleY(1);
            transform-origin: 50% 50%;
        }
    }
}


.reveal-img {
    position: relative;
    display: inline-block;

    img {
        opacity: 0;
    }

    &::after {
        content: "";
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: hsl(var(--white));
        opacity: 0.3;
        position: absolute;
    }

    &.reveal-img-active {
        img {
            animation: imgAppear 1s linear forwards;
            animation-delay: 0.8s; 
        }

        &::after {
            animation: revealImg 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
        }
    }

    @keyframes imgAppear {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes revealImg {
        0% {
            left: 0%;
            width: 0%;
        }

        50% {
            left: 0%;
            width: 100%;
        }

        100% {
            left: 100%;
            width: 0%;
        }
    }
}