/* ================================= 
  Common Typography Css 
=================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: hsl(var(--white));
  word-break: break-word;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #001419;
  font-size: rem(18px);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/shape/bg-home.svg");
    @include img-content;
    background-position: center top;
    z-index: -1;
    opacity: 1; 
    @supports (-moz-appearance: none) {
      opacity: 0.25;
      backdrop-filter: blur(5px);
    }
  }

  @include lg-screen {
    font-size: rem(16px);
  }

  @include md-screen {
    font-size: rem(14px);
  }

  @include sm-screen {
    font-size: rem(14px);
  }
}

span {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(var(--white));
  line-height: 1.3;
  font-weight: 700;
  font-family: var(--title-font);
}

h1 {
  font-size: rem(60px);

  @include lg-screen {
    font-size: rem(55px);
  }

  @include md-screen {
    font-size: rem(50px);
  }

  @include sm-screen {
    font-size: rem(45px);
  }

  @include msm-screen {
    font-size: rem(40px);
  }

  @include xxsm-screen {
    font-size: rem(32px);
  }
}

h2 {
  font-size: rem(43px);

  @include lg-screen {
    font-size: rem(36px);
  }

  @include md-screen {
    font-size: rem(34px);
  }

  @include sm-screen {
    font-size: rem(28px);
  }

  @include msm-screen {
    font-size: rem(25px);
  }
}

h3 {
  font-size: rem(32px);

  @include lg-screen {
    font-size: rem(25px);
  }

  @include md-screen {
    font-size: rem(23px);
  }

  @include sm-screen {
    font-size: rem(22px);
  }

  @include msm-screen {
    font-size: rem(20px);
  }
}

h4 {
  font-size: rem(24px);

  @include lg-screen {
    font-size: rem(20px);
  }

  @include md-screen {
    font-size: rem(19px);
  }

  @include sm-screen {
    font-size: rem(20px);
  }

  @include msm-screen {
    font-size: rem(20px);
  }
}

h5 {
  font-size: rem(20px);

  @include lg-screen {
    font-size: rem(18px);
  }

  @include md-screen {
    font-size: rem(17px);
  }

  @include sm-screen {
    font-size: rem(17px);
  }

  @include msm-screen {
    font-size: rem(17px);
  }
}

h6 {
  font-size: rem(18px);

  @include lg-screen {
    font-size: rem(16px);
  }

  @include md-screen {
    font-size: rem(15px);
  }

  @include sm-screen {
    font-size: rem(14px);
  }
}

p {
  opacity: .85;
  font-size: rem(18px);

  @include lg-screen {
    font-size: rem(16px);
  }

  @include md-screen {
    font-size: rem(16px);
  }

  @include sm-screen {
    font-size: rem(16px);
  }

  @include sm-screen {
    font-size: rem(15px);
  }
}

h1>a,
h2>a,
h3>a,
h4>a,
h5>a,
h6>a {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  transition: 0.2s linear;
  line-height: inherit;
}

a {
  display: inline-block;
  transition: 0.2s linear;
  text-decoration: none;
  color: hsl(var(--info));
}

a:hover {
  color: hsl(var(--base));
}

img {
  max-width: 100%;
  height: auto;
}

select {
  cursor: pointer;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.form-select:focus {
  outline: 0;
  box-shadow: none;
}