/* ===========================
   CallToAction CSS 
============================= */
.callToAction-section {
    &__content {
        position: relative;
        display: flex;
        align-items: center;
        gap: 24px;
        justify-content: space-between;
        padding: 50px 80px; 
        flex-wrap: wrap;
        border-radius: 10px;
        overflow: hidden;
        z-index: 1;
        @include msm-screen{
            padding: 30px; 
            text-align: center;
            justify-content: center;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--base-gradient);
            backdrop-filter: blur(8px);
            z-index: -1;
            opacity: .2;
        }
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("../images/shape/call.png");
            @include img-content;
            z-index: -11;
        } 

        h2 {
            max-width: 710px;
        }
    }
}