/* ===========================
   Content creation CSS 
============================= */
.content-creation-section {
    &__img {
        backdrop-filter: blur(5px);
        background: hsl(var(--white)/.03);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        padding: 30px 50px;
        border: 2px solid hsl(var(--white)/.05);
        border-radius: 10px;

        @include msm-screen {
            padding: 20px 30px;
        }

        @include xsm-screen {
            padding: 30px;
            grid-template-columns: 1fr;
        }

        .item__card {
            text-align: center;


            &.active {
                .card__items {

                    &::before,
                    &::after {
                        opacity: 1;
                    }

                }

                .wave_animation {
                    fill: hsl(var(--base));
                }

            }

            .wave_animation {
                fill: hsl(var(--white)/.5);
            }

            &:nth-child(2) {
                margin-top: 80px;
                @include xsm-screen{
                    margin-top: 40px;
                }
            }

            .card__items {
                --box--border__top-left: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='1' y='1' width='18' height='18' rx='4' ry='4' stroke='%23000' stroke-width='1' /></svg>");
                --box--border__top: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='100' height='10' viewBox='0 0 100 10' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='-1' y1='1' x2='101' y2='1' stroke='%23000' stroke-width='1'/></svg>");
                --box--border__top-right: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='-9' y='1' width='18' height='18' rx='4' ry='4' stroke='black' stroke-width='1' /></svg>");
                --box--border__left: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='10' height='100' viewBox='0 0 10 100' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='1' y1='-1' x2='1' y2='101' stroke='%23000' stroke-width='1'/></svg>");
                --box--border__right: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='10' height='100' viewBox='0 0 10 100' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='9' y1='-1' x2='9' y2='101' stroke='%23000' stroke-width='1'/></svg>");
                --box--border__bottom-left: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='1' y='-9' width='18' height='18' rx='4' ry='4' stroke='%23000' stroke-width='1' /></svg>");
                --box--border__bottom: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='100' height='10' viewBox='0 0 100 10' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='-1' y1='9' x2='101' y2='9' stroke='%23000' stroke-width='1'/></svg>");
                --box--border__bottom-right: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='-9' y='-9' width='18' height='18' rx='4' ry='4' stroke='black' stroke-width='1' /></svg>");

                background: hsl(var(--white)/.03);
                text-align: center;
                padding: 40px 20px;
                margin: 20px 0;
                position: relative;

                @include xsm-screen {
                    max-width: 220px;
                    margin: 0 auto;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: var(--base-gradient);
                    z-index: -1;
                    animation: gradient 15s ease infinite;
                    mask:
                        var(--box--border__top-left) 0 0 / .625rem .625rem,
                        var(--box--border__top) .625rem 0 / calc(100% - 1.25rem) .625rem,
                        var(--box--border__top-right) 100% 0 / .625rem .625rem,
                        var(--box--border__left) 0 .625rem / .625rem calc(100% - 1.25rem),
                        var(--box--border__right) 100% .625rem / .625rem calc(100% - 1.25rem),
                        var(--box--border__bottom-left) 0 100% / .625rem .625rem,
                        var(--box--border__bottom) .625rem 100% / calc(100% - 1.25rem) .625rem,
                        var(--box--border__bottom-right) 100% 100% / .625rem .625rem;
                    mask-repeat: no-repeat;
                }

                img{
                    border-radius: 100px;
                }


                h5 {
                    padding: 20px 0 0px;
                }

                button {
                    background: hsl(var(--white)/.5);
                    border-radius: 100px;
                    width: 60px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 20px auto 0;
                    color: hsl(var(--white));

                    i {
                        @include fs-40;
                    }
                }
            }
        }
    }

    &__content {
        p {
            padding-top: 20px;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 24px;
            margin: 35px 0;
            flex-wrap: wrap;

            li {
                display: flex;
                gap: 10px;
                font-family: var(--title-font);
                font-weight: 700;

                &::before {
                    content: "\f00c";
                    font-weight: 900;
                    font-family: "Font Awesome 6 free";
                    background: var(--base-gradient);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }

    .arrow-shape {
        text-align: center;

        @include xsm-screen {
            display: none;
        }
    }

}