/* ===========================
   Faq CSS 
============================= */
.faq-section {

    .accordion-body,
    .accordion-item,
    .accordion-button {
        background: none;
        border: 0;
        border-radius: 0;
        color: hsl(var(--white));
    }
    .accordion{
        display: grid;
        gap: 24px;
    }
    .accordion-body{
        border-top: 1px solid hsl(var(--white)/.1);
        p{
            @include fs-16;
            color: hsl(var(--white)/.8);
        }
    }
    .accordion-item{
        --box--border__top-left: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='1' y='1' width='18' height='18' rx='4' ry='4' stroke='%23000' stroke-width='1' /></svg>");
        --box--border__top: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='100' height='10' viewBox='0 0 100 10' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='-1' y1='1' x2='101' y2='1' stroke='%23000' stroke-width='1'/></svg>");
        --box--border__top-right: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='-9' y='1' width='18' height='18' rx='4' ry='4' stroke='black' stroke-width='1' /></svg>");
        --box--border__left: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='10' height='100' viewBox='0 0 10 100' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='1' y1='-1' x2='1' y2='101' stroke='%23000' stroke-width='1'/></svg>");
        --box--border__right: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='10' height='100' viewBox='0 0 10 100' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='9' y1='-1' x2='9' y2='101' stroke='%23000' stroke-width='1'/></svg>");
        --box--border__bottom-left: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='1' y='-9' width='18' height='18' rx='4' ry='4' stroke='%23000' stroke-width='1' /></svg>");
        --box--border__bottom: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='100' height='10' viewBox='0 0 100 10' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='-1' y1='9' x2='101' y2='9' stroke='%23000' stroke-width='1'/></svg>");
        --box--border__bottom-right: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='-9' y='-9' width='18' height='18' rx='4' ry='4' stroke='black' stroke-width='1' /></svg>");

        background: hsl(var(--white) / 0.03); 
        position: relative;
        &:hover {  
            background: hsl(var(--white) / 0.08);
            &::before{
                background: var(--base-gradient);
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: hsl(var(--white)/.08);
            z-index: -1;
            animation: gradient 15s ease infinite;
            mask:
                var(--box--border__top-left) 0 0 / .625rem .625rem,
                var(--box--border__top) .625rem 0 / calc(100% - 1.25rem) .625rem,
                var(--box--border__top-right) 100% 0 / .625rem .625rem,
                var(--box--border__left) 0 .625rem / .625rem calc(100% - 1.25rem),
                var(--box--border__right) 100% .625rem / .625rem calc(100% - 1.25rem),
                var(--box--border__bottom-left) 0 100% / .625rem .625rem,
                var(--box--border__bottom) .625rem 100% / calc(100% - 1.25rem) .625rem,
                var(--box--border__bottom-right) 100% 100% / .625rem .625rem;
            mask-repeat: no-repeat; 
        }
    }

    .accordion-button{
        gap: 10px;
        align-items: center;
        @include fs-18; 
        padding: 24px 20px;
        box-shadow: none; 
        &.collapsed{ 
            &::after{
                content: "\2b";
            }
        }
        &::after{
            content: "\f068";
            font-weight: 900;
            font-family: "Font Awesome 6 free";
            border: 0;
            background: none;
            transform: rotate(0deg);
            transition: all .3s;
        }
    } 


}