/* ===========================
   Team CSS 
============================= */
.team-section {
    &__item {
        position: relative;
        z-index: 1;
        padding: 2px;
        overflow: hidden;
        border-radius: 10px;
        &:hover{
            .team-content{
                transform: translateY(0);
            }
            .team-img{
                img{
                    transform: scale(1.1);
                }
            }
        }
 
        .team-img { 
            img{
                transition: all .3s;
                width: 100%;
            }
        }

        .team-content {
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            width: 90%;
            margin: 0 auto;
            text-align: center;
            z-index: 1;
            padding: 20px 0;
            transform: translateY(114%);
            transition: all .4s;
            border-radius: 10px;

            &::before {
                content: '';
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                position: absolute; 
                background: var(--base-gradient);
                opacity: .7;
                backdrop-filter: blur(5px);
                border-radius: 10px;
            }

            ul {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                gap: 20px;

                li {
                    a {
                        @include fs-20;
                        color: hsl(var(--white));
                        
                    }
                }
            }

            h4 {
                padding: 10px 0 5px;
            }
 
        }
    }
}