/* ===========================
   Testimonial CSS 
============================= */
.testimonial-section {
    .testimonial-slide {
        &__item {
            --box--border__top-left: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='1' y='1' width='18' height='18' rx='4' ry='4' stroke='%23000' stroke-width='1' /></svg>");
            --box--border__top: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='100' height='10' viewBox='0 0 100 10' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='-1' y1='1' x2='101' y2='1' stroke='%23000' stroke-width='1'/></svg>");
            --box--border__top-right: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='-9' y='1' width='18' height='18' rx='4' ry='4' stroke='black' stroke-width='1' /></svg>");
            --box--border__left: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='10' height='100' viewBox='0 0 10 100' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='1' y1='-1' x2='1' y2='101' stroke='%23000' stroke-width='1'/></svg>");
            --box--border__right: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='10' height='100' viewBox='0 0 10 100' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='9' y1='-1' x2='9' y2='101' stroke='%23000' stroke-width='1'/></svg>");
            --box--border__bottom-left: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='1' y='-9' width='18' height='18' rx='4' ry='4' stroke='%23000' stroke-width='1' /></svg>");
            --box--border__bottom: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='100' height='10' viewBox='0 0 100 10' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='-1' y1='9' x2='101' y2='9' stroke='%23000' stroke-width='1'/></svg>");
            --box--border__bottom-right: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='-9' y='-9' width='18' height='18' rx='4' ry='4' stroke='black' stroke-width='1' /></svg>");


            background: hsl(var(--white) / 0.03);
            backdrop-filter: blur(8px);
            padding: 40px;
            display: flex;
            align-items: center;
            gap: 24px;

            @include xsm-screen {
                flex-wrap: wrap;
                padding: 24px;
            }

            &:hover {
                background: hsl(var(--white) / 0.08);

                &::before {
                    background: var(--base-gradient);
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: hsl(var(--white)/.08);
                z-index: -1;
                animation: gradient 15s ease infinite;
                mask:
                    var(--box--border__top-left) 0 0 / .625rem .625rem,
                    var(--box--border__top) .625rem 0 / calc(100% - 1.25rem) .625rem,
                    var(--box--border__top-right) 100% 0 / .625rem .625rem,
                    var(--box--border__left) 0 .625rem / .625rem calc(100% - 1.25rem),
                    var(--box--border__right) 100% .625rem / .625rem calc(100% - 1.25rem),
                    var(--box--border__bottom-left) 0 100% / .625rem .625rem,
                    var(--box--border__bottom) .625rem 100% / calc(100% - 1.25rem) .625rem,
                    var(--box--border__bottom-right) 100% 100% / .625rem .625rem;
                mask-repeat: no-repeat;
            }

            &::after {
                content: "";
                position: absolute;
                right: 32px;
                bottom: 25px;
                background-image: url(../images/shape/qui.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 95px;
                height: 70px;
                opacity: .2;
            }


            .slid-img {
                border: 2px solid hsl(var(--base));
                border-radius: 100px;
                padding: 3px;

                img {
                    min-width: 66px;
                    height: 66px;
                    object-fit: cover;
                    border-radius: 100px;
                }
            }

            .slid-text {
                .rating {
                    margin-bottom: 15px;

                    i {
                        color: hsl(var(--warning));
                    }
                }

                p {
                    color: hsl(var(--white) / 0.7);
                }

                .user-name {
                    @include fs-16;
                    margin-top: 24px;
                }
            }
        }

    }
}

.swiper.review-slid {
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 30px;
        background: linear-gradient(-90deg, #1e0f3fc9 3.65%, rgba(238, 240, 245, 0) 100%);
        z-index: 10;
    }

    &::before {
        left: 0;
        right: auto;
        background: linear-gradient(90deg, #1e0f3fc9 3.65%, rgba(238, 240, 245, 0) 100%);
    }

    @include md-screen{
        p{
            max-width: 300px;
        }
    }
}