/* ===========================
   Use-cases CSS 
============================= */
.use-cases-section {
    &__card {
        --box--border__top-left: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='1' y='1' width='18' height='18' rx='4' ry='4' stroke='%23000' stroke-width='1' /></svg>");
        --box--border__top: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='100' height='10' viewBox='0 0 100 10' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='-1' y1='1' x2='101' y2='1' stroke='%23000' stroke-width='1'/></svg>");
        --box--border__top-right: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='-9' y='1' width='18' height='18' rx='4' ry='4' stroke='black' stroke-width='1' /></svg>");
        --box--border__left: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='10' height='100' viewBox='0 0 10 100' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='1' y1='-1' x2='1' y2='101' stroke='%23000' stroke-width='1'/></svg>");
        --box--border__right: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='10' height='100' viewBox='0 0 10 100' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='9' y1='-1' x2='9' y2='101' stroke='%23000' stroke-width='1'/></svg>");
        --box--border__bottom-left: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='1' y='-9' width='18' height='18' rx='4' ry='4' stroke='%23000' stroke-width='1' /></svg>");
        --box--border__bottom: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='100' height='10' viewBox='0 0 100 10' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='-1' y1='9' x2='101' y2='9' stroke='%23000' stroke-width='1'/></svg>");
        --box--border__bottom-right: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='-9' y='-9' width='18' height='18' rx='4' ry='4' stroke='black' stroke-width='1' /></svg>");

        background: hsl(var(--white)/.03);
        backdrop-filter: blur(8px);
        padding: 50px 30px;
        text-align: center;
        transition: all .3s;

        &:hover {
            transform: translateY(-10px) scale(1.01);
            background: hsl(var(--white)/.08);

            &::before {
                background: var(--base-gradient);
            }

            i { 
                background: var(--base-gradient);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                &::after{
                    background: hsl(var(--white));
                }
            }

            .services-btn{
                &::after {
                    transform: translateX(10px);
                    opacity: 1;
                }
            }

        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: hsl(var(--white)/.05);
            z-index: -1;
            animation: gradient 15s ease infinite;
            mask:
                var(--box--border__top-left) 0 0 / .625rem .625rem,
                var(--box--border__top) .625rem 0 / calc(100% - 1.25rem) .625rem,
                var(--box--border__top-right) 100% 0 / .625rem .625rem,
                var(--box--border__left) 0 .625rem / .625rem calc(100% - 1.25rem),
                var(--box--border__right) 100% .625rem / .625rem calc(100% - 1.25rem),
                var(--box--border__bottom-left) 0 100% / .625rem .625rem,
                var(--box--border__bottom) .625rem 100% / calc(100% - 1.25rem) .625rem,
                var(--box--border__bottom-right) 100% 100% / .625rem .625rem;
            mask-repeat: no-repeat;
            transition: all .3s;
        }

        i {
            @include fs-40; 
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 70px;
            border-radius: 5px;
            margin: 0 auto;
            position: relative;
            transition: all .3s;
            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 1px solid hsl(var(--white));
                z-index: -1;
                border-radius: 5px; 
                transition: all .3s;
            }
        }

        svg {
            padding: 13px;
            border: 2px solid hsl(var(--white)/.8);
            border-radius: 5px;
            transition: all .3s;
        }

        h4 {
            padding: 30px 0 20px;
        }

        
        .services-btn {
            margin-top: 30px;
            color: hsl(var(--white));
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;

            &::after {
                content: "\f178";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                transform: translateX(-20px);
                transition: all .3s;
                opacity: 0;
            }

            &:hover {
                font-weight: 700;
 
            }
        }
    }
}