/* ============================
    footer css
=============================== */
.footer-area {
    background-image: var(--base);
    @include img-content;
    position: relative;
    z-index: 1;
    border-top: 1.5px solid hsl(var(--border-color)/.1); 
    
    &__about {
        p {
            color: hsl(var(--white)/.8);
            @include fs-16;
            margin-bottom: 30px;
            max-width: 310px;
        }

        .social {
            display: inline-flex;
            align-items: center;
            gap: 15px;
            transition: all .3s;

            &:hover {
                a {
                    opacity: .5;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            a {
                --box--border__top-left: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='1' y='1' width='18' height='18' rx='4' ry='4' stroke='%23000' stroke-width='1' /></svg>");
                --box--border__top: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='100' height='10' viewBox='0 0 100 10' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='-1' y1='1' x2='101' y2='1' stroke='%23000' stroke-width='1'/></svg>");
                --box--border__top-right: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='-9' y='1' width='18' height='18' rx='4' ry='4' stroke='black' stroke-width='1' /></svg>");
                --box--border__left: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='10' height='100' viewBox='0 0 10 100' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='1' y1='-1' x2='1' y2='101' stroke='%23000' stroke-width='1'/></svg>");
                --box--border__right: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='10' height='100' viewBox='0 0 10 100' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='9' y1='-1' x2='9' y2='101' stroke='%23000' stroke-width='1'/></svg>");
                --box--border__bottom-left: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='1' y='-9' width='18' height='18' rx='4' ry='4' stroke='%23000' stroke-width='1' /></svg>");
                --box--border__bottom: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='100' height='10' viewBox='0 0 100 10' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='-1' y1='9' x2='101' y2='9' stroke='%23000' stroke-width='1'/></svg>");
                --box--border__bottom-right: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='-9' y='-9' width='18' height='18' rx='4' ry='4' stroke='black' stroke-width='1' /></svg>");

                @include fs-18;
                color: hsl(var(--white));
                background: hsl(var(--white)/.03);
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                position: relative;

                &:hover {
                    transform: translate(0);
                    background: var(--base-gradient);
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: hsl(var(--white)/.08);
                    z-index: -1;
                    animation: gradient 15s ease infinite;
                    mask:
                        var(--box--border__top-left) 0 0 / .625rem .625rem,
                        var(--box--border__top) .625rem 0 / calc(100% - 1.25rem) .625rem,
                        var(--box--border__top-right) 100% 0 / .625rem .625rem,
                        var(--box--border__left) 0 .625rem / .625rem calc(100% - 1.25rem),
                        var(--box--border__right) 100% .625rem / .625rem calc(100% - 1.25rem),
                        var(--box--border__bottom-left) 0 100% / .625rem .625rem,
                        var(--box--border__bottom) .625rem 100% / calc(100% - 1.25rem) .625rem,
                        var(--box--border__bottom-right) 100% 100% / .625rem .625rem;
                    mask-repeat: no-repeat;
                }

            }
        }
    }

    .footer_title {
        color: hsl(var(--white));
        margin-bottom: 24px;
    }

    .footer-widget {
        // display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;

        @include md-screen {
            margin-top: 30px;
        }

        &__item {
            max-width: 200px;

            &:last-child {
                max-width: 350px;
            }
        }

        &__title {
            color: hsl(var(--white));
            margin-bottom: 24px;

            &:last-child {
                .footer-widget__list a:hover {
                    padding-left: 0px;

                    &::before {
                        width: 0px;
                    }
                }

            }
        }

        &__list {
            display: grid;
            gap: 13px;
            min-width: 200px;
            p {
                color: hsl(var(--white)/.8);
                @include fs-16;
                max-width: 280px;
                margin-bottom: 20px;
            }

            a {
                @include fs-16;
                font-weight: 400;
                color: hsl(var(--white)/.8);
                display: flex;
                align-items: center;
                gap: 15px;
                transition: all 0.3s ease;
                position: relative;

                &:hover {
                    padding-left: 15px;
                    color: hsl(var(--base));
                    font-weight: 600;

                    &::before {
                        width: 12px;
                        opacity: 1;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 5px;
                    height: 3px;
                    background: hsl(var(--primary));
                    border-radius: 50px;
                    transition: all 0.3s ease;
                    opacity: 0;
                }
            }

            form {
                --box--border__top-left: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='1' y='1' width='18' height='18' rx='4' ry='4' stroke='%23000' stroke-width='1' /></svg>");
                --box--border__top: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='100' height='10' viewBox='0 0 100 10' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='-1' y1='1' x2='101' y2='1' stroke='%23000' stroke-width='1'/></svg>");
                --box--border__top-right: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='-9' y='1' width='18' height='18' rx='4' ry='4' stroke='black' stroke-width='1' /></svg>");
                --box--border__left: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='10' height='100' viewBox='0 0 10 100' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='1' y1='-1' x2='1' y2='101' stroke='%23000' stroke-width='1'/></svg>");
                --box--border__right: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='10' height='100' viewBox='0 0 10 100' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='9' y1='-1' x2='9' y2='101' stroke='%23000' stroke-width='1'/></svg>");
                --box--border__bottom-left: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='1' y='-9' width='18' height='18' rx='4' ry='4' stroke='%23000' stroke-width='1' /></svg>");
                --box--border__bottom: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='100' height='10' viewBox='0 0 100 10' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='-1' y1='9' x2='101' y2='9' stroke='%23000' stroke-width='1'/></svg>");
                --box--border__bottom-right: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='-9' y='-9' width='18' height='18' rx='4' ry='4' stroke='black' stroke-width='1' /></svg>");

                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: var(--base-gradient);
                    z-index: -1;
                    animation: gradient 15s ease infinite;
                    mask:
                        var(--box--border__top-left) 0 0 / .625rem .625rem,
                        var(--box--border__top) .625rem 0 / calc(100% - 1.25rem) .625rem,
                        var(--box--border__top-right) 100% 0 / .625rem .625rem,
                        var(--box--border__left) 0 .625rem / .625rem calc(100% - 1.25rem),
                        var(--box--border__right) 100% .625rem / .625rem calc(100% - 1.25rem),
                        var(--box--border__bottom-left) 0 100% / .625rem .625rem,
                        var(--box--border__bottom) .625rem 100% / calc(100% - 1.25rem) .625rem,
                        var(--box--border__bottom-right) 100% 100% / .625rem .625rem;
                    mask-repeat: no-repeat;
                }
 
                input {
                    background: none;
                    outline: none;
                    border: 0;
                    box-shadow: none;
                    color: hsl(var(--white));
                    width: 100%;
                    height: 62px;
                    padding: 0 20px;
                    @include fs-16
                }

                input:-webkit-autofill {
                    -webkit-text-fill-color: hsl(var(--white)) !important;
                    transition: background-color 5000s ease-in-out 0s;
                    background-color: transparent !important;
                    box-shadow: none;
                }

                button {
                    padding: 8px 15px;
                    border-left: 2px solid hsl(var(--base)/.3);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        color: hsl(var(--white));
                        height: 22px;
                    }
                }
            }

        }
    }

    &.footer-three {
        &.section-bg {
            background: hsl(var(--section-bg));
        }

        &::after {
            display: none;
        }

        .footer_title {
            color: hsl(var(--secondary));
        }

        .footer-area__about {
            p {
                color: hsl(var(--secondary));
            }

            .social {
                a {
                    color: hsl(var(--white));
                    background: hsl(var(--secondary));

                    &:hover {
                        background: hsl(var(--base));
                    }

                }
            }

        }

        .footer-widget {
            &__title {
                color: hsl(var(--secondary));
            }

            &__list {
                a {
                    color: hsl(var(--secondary)/.7);

                    &:hover {
                        color: hsl(var(--base));
                    }
                }
            }
        }

        .copy-right {
            border-top: 1px solid hsl(var(--secondary)/.1); 

            &__text {
                color: hsl(var(--secondary));
                @include fs-16;

            }

            &__url {
                a {
                    color: hsl(var(--secondary));

                    &:hover {
                        color: hsl(var(--base));
                    }
                }
            }
        }
    }
}

.copy-right {
    border-top: 1.5px solid hsl(var(--border-color)/.1);
    padding: 20px 0;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;


        @include sm-screen {
            display: grid;
            justify-content: center;
            gap: 10px;
        }
    }

    &__text {
        color: hsl(var(--white)/.8);
        @include fs-16;

        @include sm-screen {
            order: 1;
            text-align: center;
        }

        a {
            color: hsl(var(--white));
            font-weight: 600;
        }
    }

    &__url {
        display: flex;
        align-items: center;
        gap: 24px;
        @include sm-screen{
            justify-content: center;
        }

        a {
            color: hsl(var(--white)/.8);
            @include fs-16;

            &:hover {
                color: hsl(var(--base));
            }
        }
    }
}