/* ===========================
   Cursor-effect CSS 
============================= */

.cursor,
.cursor-trail {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    @include md-screen{
        display: none;
    }
}

.cursor {
    width: 5px;
    height: 5px;
    background-color: hsl(var(--white));
 }

.cursor-trail {
    width: 30px;
    height: 30px;
    background-color: hsl(var(--white) / .3);
} 
